@font-face {
    font-family: 'Jost';
    src: url('../fonts/Jost-Regular.eot');
    src: local('../fonts/Jost Regular'), local('../fonts/Jost-Regular'),
        url('../fonts/Jost-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Jost-Regular.woff2') format('woff2'),
        url('../fonts/Jost-Regular.woff') format('woff'),
        url('../fonts/Jost-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Jost';
    src: url('../fonts/Jost-Bold.eot');
    src: local('../fonts/Jost Bold'), local('../fonts/Jost-Bold'),
        url('../fonts/Jost-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Jost-Bold.woff2') format('woff2'),
        url('../fonts/Jost-Bold.woff') format('woff'),
        url('../fonts/Jost-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Jost';
    src: url('../fonts/Jost-SemiBold.eot');
    src: local('../fonts/Jost SemiBold'), local('../fonts/Jost-SemiBold'),
        url('../fonts/Jost-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Jost-SemiBold.woff2') format('woff2'),
        url('../fonts/Jost-SemiBold.woff') format('woff'),
        url('../fonts/Jost-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

.main-header {
    position: absolute;
    top: 0;
    left: 0;
    padding: 30px 0;
    width: 100%;
    z-index: 2;
    color: white;
}

.main-header__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-header__logo {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.main-header__menu {
    display: flex;
}

.main-header__menu a {
    padding: 0 20px;
    font-size: 20px;
}

.main-header__phone {
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
}

.home-intro {
    position: relative;
    height: 1080px;
    color: white;
    background: var(--accent);
    z-index: 1;
}

.home-intro__wrap {
    position: relative;
}

.home-intro__content {
    padding-top: 344px;
}

.home-intro__title {
    display: flex;
    margin-bottom: 20px;
    font-size: 70px;
    font-weight: 600;
    line-height: 160%;
    text-transform: uppercase;
}

.home-intro__text {
    margin-bottom: 50px;
    width: 478px;
    font-size: 20px;
    line-height: 1.6;
}

.home-intro__img {
    position: absolute;
    top: 161px;
    right: -170px;
    width: 783px;
}