@font-face {
    font-family: 'Jost';
    src: url('../fonts/Jost-Regular.eot');
    src: local('../fonts/Jost Regular'), local('../fonts/Jost-Regular'),
        url('../fonts/Jost-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Jost-Regular.woff2') format('woff2'),
        url('../fonts/Jost-Regular.woff') format('woff'),
        url('../fonts/Jost-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Jost';
    src: url('../fonts/Jost-Bold.eot');
    src: local('../fonts/Jost Bold'), local('../fonts/Jost-Bold'),
        url('../fonts/Jost-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Jost-Bold.woff2') format('woff2'),
        url('../fonts/Jost-Bold.woff') format('woff'),
        url('../fonts/Jost-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Jost';
    src: url('../fonts/Jost-SemiBold.eot');
    src: local('../fonts/Jost SemiBold'), local('../fonts/Jost-SemiBold'),
        url('../fonts/Jost-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Jost-SemiBold.woff2') format('woff2'),
        url('../fonts/Jost-SemiBold.woff') format('woff'),
        url('../fonts/Jost-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
